.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body, html {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar {
  background-color: #e9e9e9;
}

.navbar ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.navbar ul li {
  display: inline-block;
}

.navbar ul li a {
  padding: 15px;
  font-size: 14px;
  text-decoration: none;
  color: #000;
  display: block;
  transition: background-color .3s;
}

.navbar ul li a:hover {
  color: #fff;
  background-color: #000;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
